{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "babel/generator-star-spacing": [2, "after"],
        "generator-star-spacing": 0,
        "global-require": 0,
        "import/imports-first": 0,
        "import/newline-after-import": 0,
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [2, 250],
        "new-cap": 0,
        "no-mixed-operators": 0,
        "no-return-assign": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "spaced-comment": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-no-bind": 0,
        "react/jsx-no-target-blank": 0,
        "react/no-find-dom-node": 0,
        "react/no-multi-comp": 0,
        "react/no-string-refs": 0,
        "react/require-extension": 0
    }
}